

<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <style>
        .body {
            padding: 0px !important;
           margin:0px !important;
        }
        .container2 {
            background: black;
            padding: 0px;
            margin: 0px;
        }
        .pic img {
            width: 60px;
            height: 40px;
            text-align: center;
        }
        .text-center a {
            margin-left: 100px;
            font-size: 30px;
            color: white;
        }

    </style>
</head>
<body>
    <div>

        <div class="container2" >
            <div class="row" >
                <div class="pic col-md-2">
                    <img  src="http://devfast.us/images/devfast-logo.png" />
                </div>
                <div class="text-center col-md-10">
                    <a >Blogs Management</a>
                </div>
            </div>
           
        </div>

    </div>
</body>
</html>